Port 13337
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

PermitRootLogin no

# allow "passwordless" auth for clients via empty passwords
PasswordAuthentication yes
PermitEmptyPasswords Yes

# don't go through PAM auth stack that might mess with our bad auth settings
KbdInteractiveAuthentication no
UsePAM yes

# don't print builtin banner, we'll print our own
X11Forwarding no
PrintMotd no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# kill sessions if client dies
#TCPKeepAlive yes
#ClientAliveInterval 100
#ClientAliveCountMax 3
